@font-face {
	font-family: icons;
	src: url('https://connect.protel.net/files/WBE/1/mobile/styles/fonts/fico.eot');
	src: url('https://connect.protel.net/files/WBE/1/mobile/styles/fonts/fico.eot?#iefix') format('embedded-opentype'), url('https://connect.protel.net/files/WBE/1/mobile/styles/fonts/fico.ttf') format('truetype'), url('https://connect.protel.net/files/WBE/1/mobile/styles/fonts/fico.svg#Fico') format('svg');
}

body {
	background-image: none !important;
	background-color: white !important;
}
.h {

}
.headertext {

}
.dialog{
	background-color: #000000;
	background-image: none;
	
}

.hotelinfitem_head {
	margin-top: 5px;
	font-size: 0.8em;
	font-weight: bold;
}
.stars {
	font-size: 1.5em;
	letter-spacing: 0.3em;
	color:#FDD402 !important;
	text-shadow: #c0c0c0 3px 3px 5px;
}
.hotellistitem .ui-li-thumb {
	margin-top: 25% !important;
}
.hotelfeatureitem .ui-li-thumb {
	margin-top: 5px !important;
}
.cartcount {
	margin-left: 5px;
}
.maxavailtext {
	color: red;
}

.dayslider {

}
.nobackheader {
	background-color: transparent !important;
	background-image: none;
	border: none;
}

.logo {
	width:100%;
	height:100px;
	background-image: url(../images/logo.png); 
    background-repeat: no-repeat; 
    background-position:center; 	
}

.solcialitem {

}

.headcontainer {
	width: 100%;
	height: 80px;
}
.list_contact_top {
	font-weight: bold;
	margin-top: 5px;
}
.list_contact_details {
	font-size: 16px;
}
.loadingmsg {
	display: none;
	margin-top: -50px;
	width: 100%;
	height: 3000px;
	position: absolute;
	background-color: #ffffff;
	opacity: 0.7;
	z-index: 10000;
	font-family: Helvetica;
}
.loadingmsg p {
	text-align: center;
}
.loadericon {
	background-image: none;/*url('../images/loading.gif');*/
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
	position: static;
	display: block;
	opacity: .9;
	margin: 0 auto;
	margin-top: 150px;
	background-color: transparent;
}
.loadingstatus {
	height: 10px;
	width: 100px;
	background-color: #ffffff;
	margin: 0 auto;
	border: 1px solid black;
	background-image: -webkit-linear-gradient(left , #000000 25%, #ffffff 0%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.ui-loader {
	display: none !important;
}
.icon {
	font-family: icons !important;
	float: left;
	/*margin-top:0.9em;*/
	color: #CC0000;
}
.listicon {
	width: 25px;
	position: absolute;
	top: 50%;
	margin-top: -9px;
}
.listviewcontent_withicon {
	margin-left: 25px;
}

.page {
	background-image: url('../images/hotelPowerImage_sea.jpg') !important;
	 background-repeat:no-repeat; !important;
	 background-color: #C6DAE6 !important;
	 background-size: 100% !important;
	 background-position:bottom;
}
.startpage {
	
	 background-image: url('../images/hotelPowerImage_sea.jpg') !important;
	 background-repeat:no-repeat; !important;
	 background-color: #C6DAE6 !important;
	 background-size: 100% !important;
	 background-position:bottom;
	
}
.contentContainer {
	background-image: none;
	background-color: transparent !important;
}
.maplabel {
	color: black;
	background-color: white;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	border: 2px solid black;
	white-space: nowrap;
}
.hotelinfo {
	font-size: 12px;
}

.customgallery {
	margin-top: 25px;
}

.formLb {
	width: 100% !important;
	float: left;
	margin-top: 15px;
}
.dtpickercontainer {

}
.searchbtcontainer {
	float: left;
	width: 100%;
}
.hotelSelect {

}
#hotelselect-button {
	margin: 0px !important;
}

.gallery {
	list-style: none;
	padding: 0;
	margin: 0;
}
.gallery:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.gallery li {
	float: left;
	width: 33.33333333%;
}
.gallery li a {
	display: block;
	margin: 5px;
	border: 1px solid #3c3c3c;
}
.gallery li img {
	display: block;
	width: 100%;
	height: auto;
}
#Gallery1 .ui-content, #Gallery2 .ui-content {
	overflow: hidden;
}
.detcollaps {
	margin-top: -18px;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
}
.detcollaps h3 {
	font-size: 10px;
	text-align: center;
}
.detcollaps .icon {
	letter-spacing: 0.5em;
}


.ui-icon-lang-de {
	background-image: url('../images/languages/de.png');
	background-size: 18px 18px;
	background-color:transparent;
	
}
.ui-icon-lang-en {
	background-image: url('../images/languages/en.png');
	background-size: 18px 18px;
	background-color:transparent;
}

.ui-icon-shoppingcart {
	background-image: url('../images/icons/cart.png');
	background-size: 18px 18px;
	background-color:transparent;
}
.ui-icon-user {
	background-image: url('../images/icons/user.png');
	background-size: 16px 16px;
	background-color:transparent;
}
#articlelist1{
	margin-top:5px;
	margin-bottom:5px;
}
